{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
 
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'stylejs.css' %}">
    
</head>




 <body class= a>
     
    {% if user.is_authenticated %}
    <h1 class = "b"> Insert your information for booking </h1>
    <table>
        <tr>
            <td>

    <form  method= "post" onsubmit="onFormSubmit();" >
        {% csrf_token %}
         
         

         <input type="text" name="hospitsl_name" placeholder="hospital_name" id="hospitsl_name"><br>
         <input type="text" name="booking_type" placeholder="booking_type" id="booking_type"><br>
         <input type="text" name="name" placeholder="name" id="name"><br>
         <input type="text" name="email" placeholder="email" id="email"><br>
         <input type="text" name="phone_no" placeholder="phone_no"  id="phone"><br>
         
         
         <div  class="form-action-buttons">
            <a href=" http://127.0.0.1:8000/searchinfo/confirmation"> <input type="submit" value="Submit">
        </div>


     </form>
     </td>
     <div>
        
       
        
     <td>
        <table class="list" id="employeeList">
            <thead>
                <tr>
                    
                    <th>Time limitation</th>
                    <th>Entry fee</th>


                </tr>
            </thead>


            <tr>
                
                
                <th>3 hrs</th>
                <th>1,500</th>


            </tr>


            <tbody>

            </tbody>
 
        </table>
        

    </td>
    

    </tr>
     

    </table>
    <script src="{% static 'booking.js' %}"></script>

    <a href=" http://127.0.0.1:8000/searchinfo/confirmation"><input type="submit" value="After booking, See the payment process"><br>
    <a href=" http://127.0.0.1:8000/searchinfo/home"><input type="submit" value="Do you want to go back? click here">



        {% else %}

        <h1>Please Loging first!!!!!</h1><a href="http://127.0.0.1:8000/searchinfo/home">Login page</a>

        {% endif %}

</body>
</html>