*{margin: 0 ; padding: 0}


/*body{
	
	background: url("https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149__340.jpg")no-repeat; background-size: 100%;
	padding-top: 10vh; */



body{
	
	background: url("img/back.png.jpg")no-repeat; background-size: 100%;
	 

}

 /*body{

 	background: url("https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149__340.jpg")no-repeat; background-size: 100%;
	
 }*/

.form-container{
	width: 300;
	height: auto;
	padding: 30px 80px;
	
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px ;
	box-shadow: 0 0 16px 0 #000;
	margin: auto;


}
.s{
	color: blueviolet
}

.a{
	color: red;
}


h2{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	
     color:#323146;
	
	font-size: 10px;
	padding-top: 2%;
}

.user-img{
background: url('g') no-repeat;
}



ul.list{
 list-style: none;
 text-align: center;
 
}


ul.list li{
width: 250px;
margin-bottom: 7px;

}

ul.list li input{
	width:  260px;
	
	 padding: 7px 0;
	 border: none;
	 background-color: white;
	 border-radius: 5px ;
	 font-family: Arial, Helvetica, sans-serif;
}
ul.list li:nth-child(1){
	color:#497EA9;
	padding: 10px;
	font-size: 36px;
	text-align: center;
	
}




ul.list li:nth-child(10){
	
	text-align: center;
	color:red;
}

button[type=button]{
    width: 30%;
    background-color: #607EB0;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}