*{margin: 0 ; padding: 0}


/*body{
	
	background: url("https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149__340.jpg")no-repeat; background-size: 100%;
	padding-top: 10vh; */



body{
	padding-top: 50px;
	
	background: url("img/back2.jpeg")no-repeat; background-size: 100%;
	 

}

 /*body{

 	background: url("https://cdn.pixabay.com/photo/2016/01/19/15/05/doctor-1149149__340.jpg")no-repeat; background-size: 100%;
	
 }*/

.form-container{
	width: 250px;
	height: auto;
	padding: 40px 80px;
	
	background:rgba(51, 76, 80, 0.6);
	border-radius: 10px ;
	box-shadow: 0 0 18px 0 #000;
	margin: auto;

	opacity: 0.9;

}


b{
	color: white;
}

h2{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	
     color:#323146;
	
	
	
	text-shadow:3px 3px #A6C9CE;


	
	font-size: 60px;
	font-weight: 700;
	padding:30px;
}

.user-img{
background: url('g') no-repeat;
}



ul.list{
 list-style: none;
 
}


ul.list li{
width: 250px;
margin-bottom: 7px;

}
a{
	font-weight: 600;
	color: darkblue;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
}

ul.list li input{
	width:  260px;
	
	 padding: 7px 0;
	 border: none;
	 background-color: white;
	 border-radius: 5px ;
	 font-family: Arial, Helvetica, sans-serif;
}
ul.list li:nth-child(1){
	color:white;
	padding: 10px;
	font-size: 36px;
	text-align: center;
	padding-right: 10%;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

ul.list li input[type="submit"]{
	background-color: #027588;

	color: #fff;
	opacity: 2;
	text-align: center;

}


ul.list li:nth-child(5){
	
	text-align: center;
	color:red;
}